<a href="https://colab.research.google.com/github/namyaagrawal03/ML_projects/blob/main/Reccomendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [4]:
df= pd.read_csv(r'https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Movies%20Recommendation.csv')

In [5]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [ ]:
df.shape

(4760, 21)

In [ ]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

In [6]:
df_features=df[['Movie_Genre', 'Movie_Keywords' ,'Movie_Overview', 'Movie_Cast' ,'Movie_Director', 'Movie_Tagline']].fillna(' ')

In [ ]:
df_features.shape

(4760, 6)

In [ ]:
df_features

,Movie_Genre,Movie_Keywords,Movie_Overview,Movie_Cast,Movie_Director,Movie_Tagline
0,Crime Comedy,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders,Twelve outrageous guests. Four scandalous requ...
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas,"A long time ago in a galaxy far, far away..."
2,Animation Family,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton,"There are 3.7 trillion fish in the ocean, they..."
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis,"The world will never be the same, once you've ..."
4,Drama,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...",Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes,Look closer.
...,...,...,...,...,...,...
4755,Horror,,A Broadway producer puts on a play with a Devi...,Lisa Hart Carroll Michael Des Barres Paul Drak...,Pece Dingo,The hot spot where Satan's waitin'.
4756,Comedy Family Drama,,"In 1979, an Indian family moves to America wit...",Roni Akurati Brighton Sharbino Jason Lee Anjul...,Frank Lotito,It’s better to stand out than to fit in.
4757,Thriller Drama,christian film sex trafficking,"After sneaking to a party with her friends, 16...",Nicole Smolen Kim Baldwin Ariana Stephens Brys...,Jaco Booyens,She never knew it could happen to her...
4758,Family,,After being estranged since her mother's death...,,,
4759,Documentary,music actors legendary perfomer classic hollyw...,,Tony Oppedisano,Simon Napier-Bell,

In [7]:
X = df_features['Movie_Cast'] + ' ' + df_features['Movie_Director'] + ' ' + df_features['Movie_Genre'] + ' ' + df_features['Movie_Keywords']+ ' ' + df_features['Movie_Overview']+ ' ' +df_features['Movie_Tagline']

In [ ]:
X.shape

(4760,)

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
X= tfidf.fit_transform(X)

In [ ]:
X.shape

(4760, 30433)

In [ ]:
print(X)

  (0, 15935)	0.04804141939628462
  (0, 19313)	0.02341232775595252
  (0, 29716)	0.13602105432452358
  (0, 10345)	0.03788357674265327
  (0, 29658)	0.04128679706644928
  (0, 6900)	0.0723641640945869
  (0, 12659)	0.06639804542351119
  (0, 16202)	0.11362824176867771
  (0, 22517)	0.1540772940787984
  (0, 23713)	0.16154156493074698
  (0, 10456)	0.08512441939769862
  (0, 27886)	0.12708326469660364
  (0, 1395)	0.08294003403913476
  (0, 752)	0.05354483316369824
  (0, 12057)	0.12444889879256785
  (0, 28297)	0.13385276792373804
  (0, 19445)	0.09843841760396269
  (0, 28595)	0.05431698619481272
  (0, 24189)	0.1257189993988447
  (0, 13955)	0.030654677314954557
  (0, 24184)	0.10228477435828594
  (0, 9292)	0.1257189993988447
  (0, 27076)	0.05719560390535058
  (0, 26987)	0.040902292232128434
  (0, 24033)	0.09066359307952225
  :	:
  (4758, 27299)	0.10063202388224181
  (4758, 27004)	0.12114307596332709
  (4758, 6951)	0.09470194663797436
  (4758, 19313)	0.0319941304613227
  (4758, 752)	0.07317172370156846
  (4758, 13955)	0.04189116757153921
  (4758, 26987)	0.055895051849731044
  (4758, 13410)	0.03664189650629274
  (4758, 27278)	0.09338567473329894
  (4758, 1269)	0.12836558460402817
  (4758, 26992)	0.11148672068753476
  (4759, 20339)	0.37137872868916844
  (4759, 19493)	0.37137872868916844
  (4759, 24745)	0.34204332269473964
  (4759, 18616)	0.34204332269473964
  (4759, 563)	0.2890238322801506
  (4759, 7925)	0.19603279539095006
  (4759, 24725)	0.2098053367850008
  (4759, 5260)	0.23687699226128178
  (4759, 10502)	0.19880900651583414
  (4759, 12765)	0.23348942120516103
  (4759, 15733)	0.22536820138537886
  (4759, 27357)	0.20666893587113278
  (4759, 2771)	0.228144412510263
  (4759, 18463)	0.16876228890789038

In [9]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_score = cosine_similarity(X)
similarity_score

array([[1.        , 0.0253271 , 0.02841467, ..., 0.02885384, 0.0307103 ,
        0.        ],
       [0.0253271 , 1.        , 0.01494817, ..., 0.01526051, 0.06999007,
        0.        ],
       [0.02841467, 0.01494817, 1.        , ..., 0.0132328 , 0.0534642 ,
        0.        ],
       ...,
       [0.02885384, 0.01526051, 0.0132328 , ..., 1.        , 0.0764822 ,
        0.        ],
       [0.0307103 , 0.06999007, 0.0534642 , ..., 0.0764822 , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [ ]:
similarity_score.shape

(4760, 4760)

In [28]:
movie_input= input('Enter the movie name: ')
all_movies= df['Movie_Title'].tolist()
#for closest spelling
import difflib
Movie_rec = difflib.get_close_matches(movie_input, all_movies)
close_match=Movie_rec[0]
index_of_close_match= df[df.Movie_Title==close_match]['Movie_ID'].values[0]
#getting a list of similar movies
rec_score= list(enumerate(similarity_score[index_of_close_match]))
#get all movies based on recommendation score wrt input movie

#sorting movies based on similarity score

sorted_sim_movies=sorted(rec_score, key= lambda x:x[1], reverse= True)
print("Top 10 movies for you:" )
i=1

for movie in sorted_sim_movies:
  index= movie[0]
  title_from_index= df[df.index==index]['Movie_Title'].values[0]
  if (i<11):
    print(i, ".", title_from_index)
    i+=1

Enter the movie name: back to the future
Top 10 movies for you:
1 . Predator
2 . Predator 2
3 . Aliens vs Predator: Requiem
4 . AVP: Alien vs. Predator
5 . Fabled
6 . Memoirs of an Invisible Man
7 . Wind Walkers
8 . Predators
9 . Inside Deep Throat
10 . The Grey